{{page-title "Frontend"}}

{{!-- The following component displays Ember's default welcome message. --}}
<h1>This is my Ember Site</h1>
<WelcomePage />

{{!-- Feel free to remove this! --}}

{{outlet}}